body
{
    margin: 0px;
}
a
{
    /*color:black;*/
    color: blue;
    text-decoration: none;
}
#active
{
  color: red;
}
h1
{
  font-size: 100px;
  text-align: center;
  border-bottom: 1px solid gray;
  margin: 0px;
  padding: 20px;
}
ol
{
  border-right: 1px solid gray;
  width: 100px;
  margin: 0px;
  padding: 20px;
}
#grid
{
  display: grid;
  grid-template-columns: 150px 1fr;
}
#grid ol                              /*많은 ol중 부모로 id="grid"를 갖는 ol*/
{
  padding-left: 33px;
}
#grid #article
{
  padding-left: 25px;
}
@media(max-width:800px)              /*화면의 최대 크기가 800px*/
{
  #grid                               /*800px보다 작은 경우 id=grid인 값이*/
  {
    display: block;                    /*block의 형태를 가지게 된다.*/
  }
  ol
  {
    border-right: none;
  }
  h1
  {
    border-bottom: none;
  }
}
